.container{
  max-width: 100%;
  flex-direction: column;
  padding: 0 100px;
}


.infoContainer {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
  text-wrap: normal;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 10;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  max-width: 450px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 10px;
  user-select: none;
}

.imgLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--softBg);
  border-radius: 10px;
  height: 100%;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  font-size: 17px;
  font-weight: 350;
  margin-bottom: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .infoContainer {
  flex-direction: column-reverse;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .infoContainer{
    gap:10px
  }

  .container{
    padding: 0px;
  }
  .description p {
    font-size: 18px;
  }

  .title{
    margin-bottom: 10px;
  }
}
