.container {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100vh;
}

.imageContainer {
  flex: 1;
  height: 350px;
  max-width: 450px;
  position: relative;
}

.imgLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--softBg);
  border-radius: 10px;
  height: 100%;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 10px;
  overflow-wrap: normal;
}

.description{
  display: flex;
  overflow-wrap: break-word;
}

.detail {
  display: flex;
  gap: 10px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
  text-transform: uppercase;
}

.image {
  object-fit: cover;
  border-radius: 10px;
  user-select: none;
}

.description {
  color: var(--softTextColor);
  font-weight: 300;
  font-size: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width:768px ) {
  .description{
    width: 90vw;
  }
}